### Data structures 
* Data structures are way for organizing and stroring the data

* list,tuple,dictionary,sets

### List and its methods

* list is a collection of items,created by using []
* list allows duplicate values
* List are mutable,i.e we can edit list items after creation of list also

In [1]:
l=[]   #empty list
print(l)

[]

In [2]:
ml=[1,2,3,4,5,5,"python",90.9]  #list with all mixed data types
ml

[1, 2, 3, 4, 5, 5, 'python', 90.9]

In [12]:
l=[1,2,34,78,32,4,34]
print(type(l))
print(len(l))
print(sum(l))
print(max(l))
print(min(l))
print(sorted(l))   #ascending order
print(sorted(l,reverse=True))  #Descending order

<class 'list'>
7
185
78
1
[1, 2, 4, 32, 34, 34, 78]
[78, 34, 34, 32, 4, 2, 1]

In [13]:
### Access list items
# forward index 0,1,2....
# backward index -1,-2.... 


#    10  20  30  40  50
#fi  0   1   2   3   4
#bi -5  -4  -3  -2  -1

In [16]:
l=[10,90,70,86,56,45]
l[4]
l[-2]

56

In [18]:
l[3]=100   #mutable 
l

[10, 90, 70, 100, 56, 45]

In [19]:
# slicing #[start,end,step]
l[1:5]

[90, 70, 100, 56]

In [20]:
l=[1,2,3,4,5,6,7,8,9,10]
l[::2]

[1, 3, 5, 7, 9]

In [21]:
l[1::2]   #even items list

[2, 4, 6, 8, 10]

In [22]:
l[::-1]   #list items in reverse order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
l[1:9:2]

[2, 4, 6, 8]

In [24]:
#concatention   '+'
l1=[1,23,45,787]
l2=[90,87,65]
l3=l1+l2
l3

[1, 23, 45, 787, 90, 87, 65]

In [26]:
# repetition '*'
l3*2

[1, 23, 45, 787, 90, 87, 65, 1, 23, 45, 787, 90, 87, 65]

In [32]:
#nested list
nl=[89,67,76,94,[10,20,30],50]
print(nl[0])
print(nl[5])
print(nl[4])
print(nl[4][1])
print(len(nl))

89
50
[10, 20, 30]
20
6

In [33]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [34]:
l=[90,87,78,65]
#900
l.append(900)   #add item at end of a list 
l

[90, 87, 78, 65, 900]

In [35]:
#insert

l.insert(2,20)   #to insert item at a particular index
l

[90, 87, 20, 78, 65, 900]

In [36]:
l.append(900)
l

[90, 87, 20, 78, 65, 900, 900]

In [37]:
l.count(900)   #count of particular item inside a list

2

In [38]:
l.index(65)  #index of a particular item

4

In [42]:
l.sort()
print("sorted list in ascending order ",l)
l.sort(reverse=True)
print("sorted list in descending order ",l)

sorted list in ascending order  [20, 65, 78, 87, 90, 900, 900]
sorted list in descending order  [900, 900, 90, 87, 78, 65, 20]

In [47]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.append(l2)
print(l1)
print(len(l1))
print(l2)

[1, 2, 3, 4, [5, 6, 7, 8]]
5
[5, 6, 7, 8]

In [49]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l1.extend(l2)
print(l1)
print(len(l1))
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8]
8
[5, 6, 7, 8]

In [52]:
#assignment
l=[10,209,89]
l1=l
print(l)
print(l1)
l.append(90)
print(l)
print(l1)

[10, 209, 89]
[10, 209, 89]
[10, 209, 89, 90]
[10, 209, 89, 90]

In [55]:
#copy

l=[10,209,89]
l1=l.copy()
print(l)
print(l1)
l.append(777)
print(l)
print(l1)

[10, 209, 89]
[10, 209, 89]
[10, 209, 89, 777]
[10, 209, 89]

In [59]:
l=[90,78,42,97]
print(l[::-1])
l.reverse()
l

[97, 42, 78, 90]

[97, 42, 78, 90]

In [60]:
l.remove(78)  #item value

In [61]:
l

[97, 42, 90]

In [62]:
l.pop(1)

42

In [63]:
l

[97, 90]

In [64]:
l.clear()

In [65]:
l

[]

In [66]:
del l

In [67]:
l

NameError: name 'l' is not defined

In [69]:
# duplicate remove
l=[12,34,56,67,87,12,12,56]
li=[] #12,34,56,67,87
for i in l:
    if i not in li:
        li.append(i)
li

[12, 34, 56, 67, 87]

In [71]:
# no of occurances of a list item
l=[10,10,15,3,4,10,15]
for i in l:
    if l.count(i)==1:
        print(i,end=" ")

3 4

In [72]:
#unique elements

l=[10,10,15,3,4,10,15]
# 3,4
ui=[]
for i in l:
    if l.count(i)==1:
        ui.append(i)
ui

[3, 4]

In [76]:
# converting string into list items

s="1 2 3 4 5"
s=s.split()
print(s)
l=[]
for i in s:
    l.append(int(i))
l

['1', '2', '3', '4', '5']

[1, 2, 3, 4, 5]

### Tuple and its methods

* tuple is collection of objects, created by using parenthesis
* tuples are immutable, not editable
* iterating over tuple is fast compared with list

In [77]:
t=()
print(t)

()

In [78]:
t=(19,90,87,90.9,'io')
t

(19, 90, 87, 90.9, 'io')

In [79]:
type(t)

tuple

In [82]:
t=('tt',)
type(t)

tuple

In [86]:
# accessing tuple elements
t=(10,90,87,76)
print(t[0])
print(t[-1])

10
76

In [87]:
t[2]=90  #immutable

TypeError: 'tuple' object does not support item assignment

In [89]:
#nested tuple
t=(90,87,(1,2,3),89)
t[2][0]

1

In [91]:
#slicing :
t[1:]

(87, (1, 2, 3), 89)

In [93]:
t[::2]

(90, (1, 2, 3))

In [94]:
t[1::2]

(87, 89)

In [95]:
t[2][2]

3

In [96]:
#printing elements in reverse order
t[::-1]

(89, (1, 2, 3), 87, 90)

In [102]:
# concatenation 

t1=(1,23,3)
t2=(89,90)
t3=t1+t2
t3

(1, 23, 3, 89, 90)

In [99]:
t1*4

(1, 23, 3, 1, 23, 3, 1, 23, 3, 1, 23, 3)

In [100]:
# tuple methods

print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [103]:
t=(1,90,87,78,3,1)
t.count(1)

2

In [104]:
t.index(3)

4

In [105]:
#iterating through  tuple
for i in t:
    print(i,end=" ")

1 90 87 78 3 1

In [106]:
#Delete a tuple
del t

In [107]:
t

NameError: name 't' is not defined

In [108]:
#membership operator --> in

t=(23,4,67)
print(4 in t)

True

In [110]:
# tuple packing

t=1,'python',78.6
print(t)
x,y,z=t
print(x)
print(y)
print(z)

(1, 'python', 78.6)
1
python
78.6