### Dictionary and its methods

* Dictionary is a set of key,value pair or collection of items
* in dictionary keys used as index to access values
* data is stored inside dictionary in key:value format

In [1]:
# creating a empty dictionry

d=dict()

In [2]:
d

{}

In [3]:
type(d)

dict

In [4]:
d={} # empty dictionary
type(d)

dict

In [5]:
# dictionary with integer keys

d={110:'sai',111:'hima',112:'lokesh'} #key:value
#110,111,112 --> keys
print(d)

{110: 'sai', 111: 'hima', 112: 'lokesh'}

In [6]:
d.keys() #to access only keys

dict_keys([110, 111, 112])

In [7]:
d.values() #to access only values

dict_values(['sai', 'hima', 'lokesh'])

In [8]:
d.items()  #to get items from dictionary

dict_items([(110, 'sai'), (111, 'hima'), (112, 'lokesh')])

In [9]:
#dictionary with mixed keys

d1={'name':'bhanu','age':19,1:[1,2,3,4]}
d1

{'name': 'bhanu', 'age': 19, 1: [1, 2, 3, 4]}

In [10]:
# accessing dictionary values by using keys as index

d1['name']

'bhanu'

In [11]:
d1['age']

19

In [12]:
d1[1]

[1, 2, 3, 4]

In [13]:
d1[1][2]

3

In [14]:
d1['bhanu']  # cannot access keys based on values

KeyError: 'bhanu'

In [15]:
# Changing values inside a dictionary
d1

{'name': 'bhanu', 'age': 19, 1: [1, 2, 3, 4]}

In [17]:
d1['name']='Bhanu Sree'

In [18]:
d1

{'name': 'Bhanu Sree', 'age': 19, 1: [1, 2, 3, 4]}

In [19]:
#adding items to a dictionary

d1['gender']='female'
print(d1)

{'name': 'Bhanu Sree', 'age': 19, 1: [1, 2, 3, 4], 'gender': 'female'}

In [20]:
# length of a dictionary

len(d1)

4

In [21]:
print(dir(dict),end=" ")

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [25]:
help(d1.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [26]:
# copying items from one dictionary to other

d1={1:10,2:30,3:40}
d2={4:40,5:50,6:60}

d1=d2.copy()  #copying d2 into d1
print(d1)
print(d2)

{4: 40, 5: 50, 6: 60}
{4: 40, 5: 50, 6: 60}

In [27]:
# update

d2[5]=5000
d2

{4: 40, 5: 5000, 6: 60}

In [30]:
d2.update({6:6000})

In [31]:
d2

{4: 40, 5: 5000, 6: 6000}

In [32]:
#get

d2.get(5)   #to get a value of given key

5000

In [34]:
d2.get(1)  #returns None if key is not there

In [35]:
d2[5]

5000

In [36]:
d2[1]

KeyError: 1

In [38]:
# sorted

d2[1]=10

In [39]:
d2

{4: 40, 5: 5000, 6: 6000, 1: 10}

In [42]:
sorted(d2) #gives keys in sorted order

[1, 4, 5, 6]

In [44]:
d2

{4: 40, 5: 5000, 6: 6000, 1: 10}

In [46]:
sorted(d2,reverse=True)  #descending order

[6, 5, 4, 1]

In [47]:
#Removing values from a dictionary
#pop()

d2.pop(4)

40

In [48]:
d2

{5: 5000, 6: 6000, 1: 10}

In [49]:
d2.popitem()

(1, 10)

In [50]:
d2

{5: 5000, 6: 6000}

In [51]:
# del , to remove individual values or entire dictionary itself

del d2[5]

In [52]:
d2

{6: 6000}

In [53]:
del d2

In [54]:
d2

NameError: name 'd2' is not defined

In [55]:
# clear

d1

{4: 40, 5: 50, 6: 60}

In [56]:
d1.clear()

In [57]:
d1

{}

In [58]:
d1[9]=99

In [59]:
d1

{9: 99}

In [63]:
#in

d

{110: 'sai', 111: 'hima', 112: 'lokesh'}

In [65]:
print(110 in d)  #key is there or not

True

In [66]:
print('sai' in d)

False

In [67]:
#iterating through a dictionary

for k in d.keys():
    print(k,end=" ")

110 111 112

In [68]:
for v in d.values():
    print(v,end=" ")

sai hima lokesh

In [69]:
for k,v in d.items():
    print(k,v)

110 sai
111 hima
112 lokesh

In [70]:
for k in d:
    print(k,end=" ")

110 111 112

In [71]:
for k in d:
    print(d[k],end=" ")

sai hima lokesh

In [72]:
#fromkeys()

x=(1,2,3)
y=(900)

d=dict.fromkeys(x,y)
d

{1: 900, 2: 900, 3: 900}

In [73]:
# setdefult() -> returns value if key is present
# otherwise return none or default value

d1={1:'k',2:'h',3:'o'}
p=d1.setdefault(1) #if key is present
print('setdault',p)
print(d1)

setdault k
{1: 'k', 2: 'h', 3: 'o'}

In [75]:
p1=d1.setdefault(4)
print('setdault',p1)
print(d1)

setdault None
{1: 'k', 2: 'h', 3: 'o', 4: None}

In [76]:
d1

{1: 'k', 2: 'h', 3: 'o', 4: None}

In [77]:
# print name of the student who have maximum marks
d={'sita':90,'kavitha':89,'ramu':92}
mv=max(d.values())
for k,v in d.items():
    if v==mv:
        print(k)

ramu

In [82]:
d={'maths':90,'social':86,'science':78}
s=sum(d.values())
n=len(d)
print(s,n)
print('average marks: ',s/n)

254 3
average marks:  84.66666666666667

### Sets

* set is a unordered collection of items. every set element is unique
* set doesnot allows any duplicates

In [83]:
s={}

In [85]:
s={10,90,9,78,90,90}
print(s)
type(s)

{9, 10, 90, 78}

set

In [99]:
s1=set()
s1

set()

In [100]:
# since sets are unorered we cant access or change values inside a set
s1={1,"hello",(1,2,3)}
s1

{(1, 2, 3), 1, 'hello'}

In [101]:
s1[0]  #error

TypeError: 'set' object is not subscriptable

In [102]:
# add()

s1.add(1000)

In [103]:
s1

{(1, 2, 3), 1, 1000, 'hello'}

In [104]:
print(dir(set),end=" ")

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [106]:
s1.update((100,1001))   #to add multiple elements to a set

In [107]:
s1

{(1, 2, 3), 1, 100, 1000, 1001, 'hello'}

In [108]:
s1.update(['a','b'])
s1

{(1, 2, 3), 1, 100, 1000, 1001, 'a', 'b', 'hello'}

In [111]:
#discard()

s={1,2,3,4,5}
s.discard(5)
s

{1, 2, 3, 4}

In [112]:
#removing an element

s={10,20,30,40,50}
s.remove(50)

In [113]:
s

{10, 20, 30, 40}

In [114]:
#set of unique values
s=set("helloworld")
s

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [115]:
#pop()

s.pop()

'h'

In [116]:
#clear
s.clear()

In [118]:
s

set()

In [119]:
del s

In [120]:
s

NameError: name 's' is not defined

In [121]:
s={10,30,78,98,1,2}
sorted(s)

[1, 2, 10, 30, 78, 98]

In [122]:
sorted(s,reverse=True)

[98, 78, 30, 10, 2, 1]

## Set operations

s1={1,2,3,4}
s2={4,5,6}
s1.union(s2)

In [125]:
s1.intersection(s2)

{4}

In [126]:
s1-s2  #returns vlues from s1 not in s2

{1, 2, 3}

In [127]:
s2-s1

{5, 6}

In [128]:
s1.difference(s2)

{1, 2, 3}