### Numpy (Numerical python)
* numpy stands for numerical python
* numpy is open source python library
* it provides high level functioning tools to working with arrays
* it also has functions to work with linear algebra,fourier transforms, matrices

### Advantages of numpy array over list
* consumes less memory
* fast when comparing with list
* convinient to use

In [ ]:
l=[1,2,3,4,5]
l

In [ ]:
l+10   #element wise operation is not possible with list

In [ ]:
import numpy as np

In [ ]:
n=np.array([1,2,3,4,5])  #creating 1D array

In [ ]:
n

In [ ]:
n+10

In [ ]:
type(n)

### syntax:

numpy.array(object,dtype=None,copy=True,order='K',subok=False,ndmin=0)

In [ ]:
c=np.array([10,20,30,40,50],dtype='complex')

In [ ]:
c

In [ ]:
d=np.array([100,200,300],ndmin=2)
d

In [ ]:
print(d.ndim)   #no of dimensions
print(d.dtype)  #datatype
print(d.size)  #no of elements
print(d.shape) #shape of an array
print(d.itemsize)  #size of each item

In [ ]:
print(d.sum())
print(d.min())
print(d.max())
print(d.argmax())   #index of maximum element of array
print(d.argmin())

In [ ]:
m=np.array([12,'rohith',90.8])
m

In [ ]:
np.array(range(1,11))

In [ ]:
## arange()
a=np.arange(11,30,5)
a

In [ ]:
a1=np.arange(25)
print(a1.ndim)
a1
a1.reshape(5,5)  #reshape

In [ ]:
### linspace

l=np.linspace(1,5,4) #start,stop,no of element
l

In [ ]:
# Array initialization
# np.ones() # returns a array with given shape and type,with ones
np.ones(10)

In [ ]:
np.ones(10,dtype='int32')

In [ ]:
np.ones(20,np.int)

In [ ]:
np.zeros(5)

In [ ]:
np.zeros((2,3),np.int)

In [ ]:
### full() -> filled with value specified by us

np.full((3,2),10)

In [ ]:
np.full((3,2),11,np.complex)

In [ ]:
#empty -> random values

np.empty(3)

In [ ]:
np.empty(4,np.int)

In [ ]:
#eye() -> 2D array
a=np.eye(2)
a

In [ ]:
a=np.eye(3)
a

In [ ]:
a=np.eye(3,k=1)
a

In [ ]:
np.identity(3)

In [ ]:
l1=[1,2,3]   #2D array
l2=[4,5,6]
b=np.array([l1,l2])
print(b)
print(type(b))
b.ndim

In [ ]:
#access elements in 2D array row index,col index

b[0,1]

In [ ]:
# 3D array

c=np.array([[[10,20,30],[1,2,3]],[[4,5,6],[40,50,60]]])
print(c)
c.ndim

In [ ]:
#slicing

n

In [ ]:
n[1:4]

In [ ]:
# random() 

print(np.random.random())  #between 0 to 1
print(np.random.randint(10)) #print random int in given range
print(np.random.randint(1,21,4))  #range,size

In [ ]:
# fancy indexing or boolean indexing

a=np.random.randint(1,50,12)
a

In [ ]:
(a>20).sum()

In [ ]:
a[a>20]  #boolean exp as index

In [ ]:
# Array manipulation

a=np.arange(32)
a

In [ ]:
a.reshape(8,4)

In [ ]:
a.reshape(4,-1)

In [ ]:
a.reshape(-1,16)

In [ ]:
# mathematical operations

a1=np.arange(1,4)
a2=np.array([4,7,8])
a1

In [ ]:
a2

In [ ]:
print(a1+a2)
print(a1-a2)
print(a1*a2)
print(a1/a2)

In [ ]:
# mean - sum of elements/ no of elements
# median - middle value of sorted array
# mode - most repeated value

In [ ]:
a=np.array([10,40,20,30,50])
a.mean()

In [ ]:
np.median(a)

### Pandas

* provides tools for reading and writing data structure and file
* provides powerful functions to manipulate data
* data cleaning and manipulation,merging,concatenation,reshape,joining etc

## Series

* 1D labelled array capable of holding data of any type(int,string,flkoat,object etc
* you may think single column in excel file

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
s=pd.Series([11,12,13,14,15])
s

In [ ]:
s.index

In [ ]:
s.index=('a','b','c','d','e') #reindex
s

In [ ]:
ds=pd.Series({1:100,2:200,3:300})
ds

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
st=pd.Series([12,34,56,78],index=('stu1','stu2','stu3','stu4'))
st

In [ ]:
# slicing by using default index

st[0]

In [ ]:
st[1:]

In [ ]:
st['stu1']   #string index

### DataFrame

* Two dimensional,size mutable,potentially heterogeneous tabular data
* contains rows and columns
* table in excel file

In [ ]:
df=pd.DataFrame(st,columns=['science'])   #using series
df

In [ ]:
# using dictionary 

height=pd.Series([5.2,5.4,6],index=["p1","p2","p3"])
weight=pd.Series([50,55,67],index=["p1","p2","p3"])

In [ ]:
df=pd.DataFrame({"height":height,"weight":weight})
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
### joins
l=pd.DataFrame({"id":[1,2,3],"age":[65,78,54]},index=("p1","p2","p3"))
r=pd.DataFrame({"id":[1,2,4],"gender":['F','M','F']},index=("p1","p2","p3"))

In [ ]:
l

In [ ]:
r

In [ ]:
pd.merge(l,r,how="left")

In [98]:
pd.merge(l,r,how="right")

   id   age gender
0   1  65.0      F
1   2  78.0      M
2   4   NaN      F

In [99]:
pd.merge(l,r,how="inner")

   id  age gender
0   1   65      F
1   2   78      M

In [100]:
pd.merge(l,r,how="outer")

   id   age gender
0   1  65.0      F
1   2  78.0      M
2   3  54.0    NaN
3   4   NaN      F

In [101]:
# Read Data

data=pd.read_csv('IMDB-Movie-Data.csv')
data

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [102]:
data.shape

(1000, 12)

In [103]:
data.head()  #top 5 rows

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0